    -----------home-----------
body {  
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    height:auto;
    width:100%;  
    overflow:hidden;
}

#logo
{
    background-image:url(../image/logo.jpg);
    width:1330px;
    height:125px;
    margin:auto;   
    margin-left:0px;
    border-radius:5px;
    float:left;    
    background-repeat:no-repeat;
    }

#logo img {
    width:100%;
    height:100%;
    margin:auto;
    border-radius:15px;
    
}


#logodanfitur
{   background-color:White;
    width:100%;
    height:125px;
    margin:auto;
    
               }
    
logodanfitur:hover{
    background-color:blue;
    }    


#fitur
{
    height:125px;
    width:100px;
    margin:auto;
    margin-top:0px;
    margin-left:318px;
    color:Purple;
    text-decoration:none; 
    font-family:"Tw Cen MT"; 
    }
    
fitur:hover {
    background-color:Green;
    }
    
fitur a,fitur a:visited{
    position:relative;
    display :block;
    color:Aqua; 
    text-decoration:none;
    padding:10px;
    top: 0px;
    left: 1px;
}            

fitur input[type=text]
{
    position:relative;
    display:block;
    padding:10px;
    background-color:Blue;
}

#iconfitur
{
    width:530px;    
    height:55px;
    margin:auto;
    margin-left:490px;
    
    
}
    
#iconfitur img
{
    margin-top:40px;
    width:50px;
    height:50px;
    margin-left:50px;
}

#menufitur
{
    width:530px;
    font-size:larger;
    margin-left:470px;
    color:Purple;
    text-align:center;
    margin-top:35px;
    }

menufitur:hover{
    background-color:Purple;
    padding:auto;
    padding-right:5px;
    }    

#menufitur a,#menufitur a:visited{
    margin:top;
    color:purple; 
    text-decoration:none;
    
    } 

#contentbesar{
    margin:auto;
    margin-top:0px;
    padding-left:3px;
    width:100%;
    height:510px;
    margin:auto;
    
    
        }
        
#contentbesar img{
    height:115%;
    width:100%;
    margin-top:-6px;
    margin-left:-5px;
    }  
       
.tablebesar{
    width: 100%;
    height: 100%;
    }
    
 
.besartengah
{
    margin:auto;
    margin-left:0px;
    margin-top:0px;
    height:400px; }
        
.besarbawah
{   font-family:"Champagne & Limousines";
    font-size:xx-large;
     margin-top:-10px;
     height:25px;
     text-align: center;
     }
        
#contentkecilall
{
    width:1090px;
    height:630px;
    margin:auto;
    
        }
        
#contentkecilall img{
    height:100%;
    width:100%; 
}

#garispenghias
{
    width:250px;
    height:10px;
    margin:auto;
    margin-top:-40px;
    margin-bottom:70px;
    background-color:purple;
}
       
 #contentkecilkiri{
    width:330px;
    height:200px;
    margin:auto;
    float:left;
        }       

#contentkeciltengah{
    width:323px;
    height:200px;
    margin:auto;
    margin-left:65px;   
    float:left;
    
        }
        
#contentkecilkanan{
    width:330px;
    height:200px;
    margin:auto;
    float:right;
        }

.tablekecil
{
    
     width: 100%;
        }

.kecilatas
{
      height: 190px;
      text-align: center;
        }
        
.keciltengah
{
       
       height: 80px;
       text-align: center;
       color:Black;
       background-color:hsla(0, 0%, 89%, 0.58);
        }
.kecilbawah
{
     height: 180px;
       text-align: center;
       color:Black;
       
       background-color:hsla(0, 0%, 89%, 0.58);
       }        
        
#footer
{
    width:100%;
    height:525px;
    margin:auto;
    margin-top:60px;
    margin-bottom:30px;
    background-color:Blue;
}
            
#footeratas{
    width:100%;
    height:50px;
    margin:auto;
    font-family:"Tw Cen MT";
    color:Black;
    font-size:50px;
    text-align:center;
    border-radius:40px; 
}

#garispenghiasfooter
{
    width:450px;
    height:10px;
    margin:auto;
    margin-top:20px;
    margin-bottom:60px;
    background-color:purple;
}


#footerbawah{
    background-color:gray;
    width:100%;
    height:450px;
    margin:0px;
    margin-top:1px;
    font-family:"HelvLight";
    
}

#footerbawah img
{
    width:150px;
    height:75px;
    margin-left:40px;
}

#contentprodukall{
    width:1030px;
    height:auto;
    margin:auto;
    text-decoration:none;
    color:Black;
        }
        #contentprodukall a,#contentprodukall a:visited{
    width:1030px;
    height:auto;
    margin:auto;
    text-decoration:none;
    color:Black;
        }
        
#end
{
margin-left:0px;
width:100%;
height:75px;
background-color:Black;
}

#endkiri
{
    width:50%;
    height:100%;
    background-color:Aqua;
}

#endkanan
{
    margin-top:-75px;
    width:50%;
    height:100%;
    background-color:yellow;
    float:right;
    }

        
        
#contentprodukall img{
    height:100%;
   width:100%;
}
       
#contentprodukkiri{
    width:320px;
    height:250px;
    margin-bottom:30px;
    float:left;
        }   
            

#contentproduktengah{
    width:320px;
    height:250px;
    margin:auto;
    margin-left:35px;   
    float:left;
    margin-bottom:30px;
    
        }
        
#contentprodukkanan{
    width:320px;
    height:250px;
    margin:auto;
    margin-bottom:30px;
    float:right;
        }  
        
        
#contentfaq{
    width:1099px;
    height:auto;
    margin:auto;
}




#contenttentangkami{
    width:1099px;
    height:800px;
    margin:auto;
    }
        
#sosmed
{
    width:1099px;
    height:400px;
    margin:auto;
    margin-top:125px;
    }

#sosmed img 
{
    
    width:90px;
    height:90px;
    margin-left:25px;
}

    
    

#medsoskiri {
    
    width:318px;
    height:125px;
    margin:auto;
    float:left;
    
    }
   
#medsoskiri img {
    width:45px;
    height:45px;
    margin-left:20px;
    margin-top:35px;
}  

 

#medsoskanan{
    width:317px;
    height:125px;
    margin:auto;
    float:right;
    }
   
